name: Psalm

on:
  push:
    branch: [ master, develop ]
  pull_request:
    branch: [ master, develop ]

jobs:
  tests:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Install dependencies
        run: composer install

      - name: Run Psalm
        run: composer psalm
